In [119]:
import numpy as np;
import pandas as pd;
import sklearn;

In [120]:
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 1.4.1.post1.

In [121]:
df = pd.read_csv('train.csv');

In [122]:
df = df.sample(7000,random_state=4);
df

,id,qid1,qid2,question1,question2,is_duplicate
198127,198127,570,140055,Where can I buy best quality customized cupcak...,"Where can I buy delicious, fresh & hand made c...",1
338078,338078,361056,465606,How can you determine the valency of hydrogen?,How is valency of phosphorus determined?,0
246894,246894,344397,360022,How can I inspire you?,How can I inspire myself?,0
79011,79011,134619,1121,What are the must places to visit in Kerala (6...,What are the best places to visit in Kerala fo...,1
150179,150179,236419,236420,How do you qualify for gastric bypass surgery?,What are the positive and negative side effect...,0
...,...,...,...,...,...,...
3123,3123,6192,6193,How can I watch uncensored footage from nature...,What are the best World War II documentaries?,0
297416,297416,39497,264197,How do I add content on Quora?,How do I add content under a title at Quora?,1
109285,109285,179382,96975,Was Alexander The Great really so great?,Who was Alexander the Great?,0
113645,113645,185675,158317,"Why do guys often hesitate to ask a woman out,...",If a guy asks a girl out does it mean he likes...,0
86068,86068,145192,145193,Why isn't OneTaste a nonprofit organization?,I am a minor in Maryland. How do I start a non...,0

In [123]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [124]:
import re

In [125]:
def basic_prepocessing(q):
    q = str(q).lower().strip()
    #removing some symbol
    q = q.replace('%', ' percent')
    q = q.replace('$', ' dollar ')
    q = q.replace('₹', ' rupee ')
    q = q.replace('€', ' euro ')
    q = q.replace('@', ' at ')
    
    #removing some unneseccary number
    q = q.replace(',000,000,000 ', 'b ')
    q = q.replace(',000,000 ', 'm ')
    q = q.replace(',000 ', 'k ')
    q = re.sub(r'([0-9]+)000000000', r'\1b', q)
    q = re.sub(r'([0-9]+)000000', r'\1m', q)
    q = re.sub(r'([0-9]+)000', r'\1k', q)
    
    contractions = { 
    "ain't": "am not",
    "aren't": "are not",
    "can't": "can not",
    "can't've": "can not have",
    "'cause": "because",
    "could've": "could have",
    "couldn't": "could not",
    "couldn't've": "could not have",
    "didn't": "did not",
    "doesn't": "does not",
    "don't": "do not",
    "hadn't": "had not",
    "hadn't've": "had not have",
    "hasn't": "has not",
    "haven't": "have not",
    "he'd": "he would",
    "he'd've": "he would have",
    "he'll": "he will",
    "he'll've": "he will have",
    "he's": "he is",
    "how'd": "how did",
    "how'd'y": "how do you",
    "how'll": "how will",
    "how's": "how is",
    "i'd": "i would",
    "i'd've": "i would have",
    "i'll": "i will",
    "i'll've": "i will have",
    "i'm": "i am",
    "i've": "i have",
    "isn't": "is not",
    "it'd": "it would",
    "it'd've": "it would have",
    "it'll": "it will",
    "it'll've": "it will have",
    "it's": "it is",
    "let's": "let us",
    "ma'am": "madam",
    "mayn't": "may not",
    "might've": "might have",
    "mightn't": "might not",
    "mightn't've": "might not have",
    "must've": "must have",
    "mustn't": "must not",
    "mustn't've": "must not have",
    "needn't": "need not",
    "needn't've": "need not have",
    "o'clock": "of the clock",
    "oughtn't": "ought not",
    "oughtn't've": "ought not have",
    "shan't": "shall not",
    "sha'n't": "shall not",
    "shan't've": "shall not have",
    "she'd": "she would",
    "she'd've": "she would have",
    "she'll": "she will",
    "she'll've": "she will have",
    "she's": "she is",
    "should've": "should have",
    "shouldn't": "should not",
    "shouldn't've": "should not have",
    "so've": "so have",
    "so's": "so as",
    "that'd": "that would",
    "that'd've": "that would have",
    "that's": "that is",
    "there'd": "there would",
    "there'd've": "there would have",
    "there's": "there is",
    "they'd": "they would",
    "they'd've": "they would have",
    "they'll": "they will",
    "they'll've": "they will have",
    "they're": "they are",
    "they've": "they have",
    "to've": "to have",
    "wasn't": "was not",
    "we'd": "we would",
    "we'd've": "we would have",
    "we'll": "we will",
    "we'll've": "we will have",
    "we're": "we are",
    "we've": "we have",
    "weren't": "were not",
    "what'll": "what will",
    "what'll've": "what will have",
    "what're": "what are",
    "what's": "what is",
    "what've": "what have",
    "when's": "when is",
    "when've": "when have",
    "where'd": "where did",
    "where's": "where is",
    "where've": "where have",
    "who'll": "who will",
    "who'll've": "who will have",
    "who's": "who is",
    "who've": "who have",
    "why's": "why is",
    "why've": "why have",
    "will've": "will have",
    "won't": "will not",
    "won't've": "will not have",
    "would've": "would have",
    "wouldn't": "would not",
    "wouldn't've": "would not have",
    "y'all": "you all",
    "y'all'd": "you all would",
    "y'all'd've": "you all would have",
    "y'all're": "you all are",
    "y'all've": "you all have",
    "you'd": "you would",
    "you'd've": "you would have",
    "you'll": "you will",
    "you'll've": "you will have",
    "you're": "you are",
    "you've": "you have"
    }
    q_decontracted = []
    for word in q.split():
        if word in contractions:
            word = contractions[word]
        q_decontracted.append(word)
        
    q = ' '.join(q_decontracted)
    q = q.replace("'ve", " have")
    q = q.replace("n't", " not")
    q = q.replace("'re", "are")
    q = q.replace("'ll", " will")   
    
    return q;

In [126]:
df['question1'] = df['question1'].apply(basic_prepocessing)
df['question2'] = df['question2'].apply(basic_prepocessing)

In [127]:
df

,id,qid1,qid2,question1,question2,is_duplicate
198127,198127,570,140055,where can i buy best quality customized cupcak...,"where can i buy delicious, fresh & hand made c...",1
338078,338078,361056,465606,how can you determine the valency of hydrogen?,how is valency of phosphorus determined?,0
246894,246894,344397,360022,how can i inspire you?,how can i inspire myself?,0
79011,79011,134619,1121,what are the must places to visit in kerala (6...,what are the best places to visit in kerala fo...,1
150179,150179,236419,236420,how do you qualify for gastric bypass surgery?,what are the positive and negative side effect...,0
...,...,...,...,...,...,...
3123,3123,6192,6193,how can i watch uncensored footage from nature...,what are the best world war ii documentaries?,0
297416,297416,39497,264197,how do i add content on quora?,how do i add content under a title at quora?,1
109285,109285,179382,96975,was alexander the great really so great?,who was alexander the great?,0
113645,113645,185675,158317,"why do guys often hesitate to ask a woman out,...",if a guy asks a girl out does it mean he likes...,0
86068,86068,145192,145193,why is not onetaste a nonprofit organization?,i am a minor in maryland. how do i start a non...,0

In [128]:
def cnt_common_words(row):
    cmn1 = set(map(lambda row : row.lower().strip(),row['question1'].split(" ")))
    cmn2 = set(map(lambda row : row.lower().strip(),row['question1'].split(" ")))
    return len(cmn1 & cmn2)

In [129]:
def cnt_total_words(row):
    cmn1 = set(map(lambda row : row.lower().strip(),row['question1'].split(" ")))
    cmn2 = set(map(lambda row : row.lower().strip(),row['question1'].split(" ")))
    return len(cmn1)+ len(cmn2);

In [130]:
df['q1_lengrth'] = df['question1'].str.len();
df['q2_lengrth'] = df['question2'].str.len();

df['q1_num_words'] = df['question1'].apply(lambda row: len(row.split(" ")))
df['q2_num_words'] = df['question2'].apply(lambda row: len(row.split(" ")))

df['common_word'] = df.apply(cnt_common_words,axis=1)
df['total_word'] = df.apply(cnt_total_words,axis=1)

df['share_word'] = df['common_word']/df['total_word']

In [131]:
df

,id,qid1,qid2,question1,question2,is_duplicate,q1_lengrth,q2_lengrth,q1_num_words,q2_num_words,common_word,total_word,share_word
198127,198127,570,140055,where can i buy best quality customized cupcak...,"where can i buy delicious, fresh & hand made c...",1,63,77,11,15,11,22,0.5
338078,338078,361056,465606,how can you determine the valency of hydrogen?,how is valency of phosphorus determined?,0,46,40,8,6,8,16,0.5
246894,246894,344397,360022,how can i inspire you?,how can i inspire myself?,0,22,25,5,5,5,10,0.5
79011,79011,134619,1121,what are the must places to visit in kerala (6...,what are the best places to visit in kerala fo...,1,55,65,11,12,11,22,0.5
150179,150179,236419,236420,how do you qualify for gastric bypass surgery?,what are the positive and negative side effect...,0,46,93,8,16,8,16,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3123,3123,6192,6193,how can i watch uncensored footage from nature...,what are the best world war ii documentaries?,0,61,45,9,8,9,18,0.5
297416,297416,39497,264197,how do i add content on quora?,how do i add content under a title at quora?,1,30,44,7,10,7,14,0.5
109285,109285,179382,96975,was alexander the great really so great?,who was alexander the great?,0,40,28,7,5,7,14,0.5
113645,113645,185675,158317,"why do guys often hesitate to ask a woman out,...",if a guy asks a girl out does it mean he likes...,0,79,74,18,17,17,34,0.5
86068,86068,145192,145193,why is not onetaste a nonprofit organization?,i am a minor in maryland. how do i start a non...,0,45,88,7,18,7,14,0.5

# Token Features

In [132]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ssaty\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [133]:
stop_words = set(stopwords.words('english'))
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [134]:
def token_faetures_function(row):
    q1 = row['question1']
    q2 = row['question2']
    
    #this is for handling zero case so that infinite will not come
    SAFE_DIV = 0.0001
    token_features = [0.0]*8
    #spliting the question to tokens
    q1_tokens = q1.split()
    q2_tokens = q2.split()
    
    #check their length
    if len(q1_tokens) == 0 or len(q2_tokens) == 0:
        return token_features
    
    #calculating stopwords
    stop_words = set(stopwords.words('english'))
    q1_stop_words = set([word for word in q1_tokens if word in stop_words])
    q2_stop_words = set([word for word in q2_tokens if word in stop_words])
    
    #calculating non-stop words
    q1_nonstop_words = set([word for word in q1_tokens if word not in stop_words])
    q2_nonstop_words = set([word for word in q2_tokens if word not in stop_words])
    
    #calucalting the common non-stop words
    common_nonstop_words = len(q1_nonstop_words.intersection(q2_nonstop_words))
    
    #calculating the common stop words
    common_stop_words = len(q1_stop_words.intersection(q2_stop_words))
    
    #calculating the common tokens
    common_tokens = len(set(q1_tokens).intersection(set(q2_tokens)))
    
    #setting the token features
    token_features[0] = common_nonstop_words / (min(len(q1_nonstop_words), len(q2_nonstop_words)) + SAFE_DIV)
    token_features[1] = common_nonstop_words / (max(len(q1_nonstop_words), len(q2_nonstop_words)) + SAFE_DIV)
    token_features[2] = common_stop_words / (min(len(q1_stop_words), len(q2_stop_words)) + SAFE_DIV)
    token_features[3] = common_stop_words / (max(len(q1_stop_words), len(q2_stop_words)) + SAFE_DIV)
    token_features[4] = common_tokens / (min(len(q1_tokens), len(q2_tokens)) + SAFE_DIV)
    token_features[5] = common_tokens / (max(len(q1_tokens), len(q2_tokens)) + SAFE_DIV)
    
    #checking the last word equal or not
    token_features[6] = int(q1_tokens[-1] == q2_tokens[-1])
    
    #checking the first word equal or not
    token_features[6] = int(q1_tokens[0] == q2_tokens[0])
    
    return token_features;

In [135]:
token_features = df.apply(token_faetures_function, axis=1)

df["cwc_min"]       = list(map(lambda x: x[0], token_features))
df["cwc_max"]       = list(map(lambda x: x[1], token_features))
df["csc_min"]       = list(map(lambda x: x[2], token_features))
df["csc_max"]       = list(map(lambda x: x[3], token_features))
df["ctc_min"]       = list(map(lambda x: x[4], token_features))
df["ctc_max"]       = list(map(lambda x: x[5], token_features))
df["last_word_eq"]  = list(map(lambda x: x[6], token_features))
df["first_word_eq"] = list(map(lambda x: x[7], token_features))

In [136]:
df

,id,qid1,qid2,question1,question2,is_duplicate,q1_lengrth,q2_lengrth,q1_num_words,q2_num_words,...,total_word,share_word,cwc_min,cwc_max,csc_min,csc_max,ctc_min,ctc_max,last_word_eq,first_word_eq
198127,198127,570,140055,where can i buy best quality customized cupcak...,"where can i buy delicious, fresh & hand made c...",1,63,77,11,15,...,22,0.5,0.428565,0.272725,0.749981,0.749981,0.545450,0.399997,1,0.0
338078,338078,361056,465606,how can you determine the valency of hydrogen?,how is valency of phosphorus determined?,0,46,40,8,6,...,16,0.5,0.333322,0.333322,0.666644,0.399992,0.499992,0.374995,1,0.0
246894,246894,344397,360022,how can i inspire you?,how can i inspire myself?,0,22,25,5,5,...,10,0.5,0.499975,0.499975,0.999967,0.999967,0.799984,0.799984,1,0.0
79011,79011,134619,1121,what are the must places to visit in kerala (6...,what are the best places to visit in kerala fo...,1,55,65,11,12,...,22,0.5,0.499992,0.499992,0.999980,0.833319,0.727266,0.666661,1,0.0
150179,150179,236419,236420,how do you qualify for gastric bypass surgery?,what are the positive and negative side effect...,0,46,93,8,16,...,16,0.5,0.749981,0.299997,0.000000,0.000000,0.374995,0.187499,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3123,3123,6192,6193,how can i watch uncensored footage from nature...,what are the best world war ii documentaries?,0,61,45,9,8,...,18,0.5,0.199996,0.199996,0.000000,0.000000,0.124998,0.111110,0,0.0
297416,297416,39497,264197,how do i add content on quora?,how do i add content under a title at quora?,1,30,44,7,10,...,14,0.5,0.999967,0.749981,0.749981,0.499992,0.857131,0.599994,1,0.0
109285,109285,179382,96975,was alexander the great really so great?,who was alexander the great?,0,40,28,7,5,...,14,0.5,0.999950,0.499988,0.666644,0.666644,0.799984,0.571420,0,0.0
113645,113645,185675,158317,"why do guys often hesitate to ask a woman out,...",if a guy asks a girl out does it mean he likes...,0,79,74,18,17,...,34,0.5,0.166664,0.099999,0.571420,0.399996,0.294116,0.277776,0,0.0
86068,86068,145192,145193,why is not onetaste a nonprofit organization?,i am a minor in maryland. how do i start a non...,0,45,88,7,18,...,14,0.5,0.666644,0.249997,0.499988,0.249997,0.571420,0.222221,0,0.0

# Length Based Features

In [137]:
pip install Distance

Requirement already satisfied: Distance in e:\new folder\lib\site-packages (0.1.3)
Note: you may need to restart the kernel to use updated packages.

In [138]:
import distance

def length_features_function(row):
    
    q1 = row['question1']
    q2 = row['question2']
    
    length_features = [0.0]*3
    
    # spliting the question to tokens
    q1_tokens = q1.split()
    q2_tokens = q2.split()
    
    if len(q1_tokens) == 0 or len(q2_tokens) == 0:
        return length_features
    
    # calculating the abs differnce between two length
    length_features[0] = abs(len(q1_tokens) - len(q2_tokens))
    
    #calculating the Average Token Length of both Questions
    length_features[1] = (len(q1_tokens) + len(q2_tokens))/2
    
    #calculating the longest_substr_ratio
    strs = list(distance.lcsubstrings(q1, q2))
    length_features[2] = len(strs[0]) / (min(len(q1), len(q2)) + 1)
    
    return length_features

In [139]:
length_features = df.apply(length_features_function, axis=1)

df['abs_len_diff'] = list(map(lambda x: x[0], length_features))
df['mean_len'] = list(map(lambda x: x[1], length_features))
df['longest_substr_ratio'] = list(map(lambda x: x[2], length_features))

In [140]:
df

,id,qid1,qid2,question1,question2,is_duplicate,q1_lengrth,q2_lengrth,q1_num_words,q2_num_words,...,cwc_max,csc_min,csc_max,ctc_min,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,longest_substr_ratio
198127,198127,570,140055,where can i buy best quality customized cupcak...,"where can i buy delicious, fresh & hand made c...",1,63,77,11,15,...,0.272725,0.749981,0.749981,0.545450,0.399997,1,0.0,4,13.0,0.250000
338078,338078,361056,465606,how can you determine the valency of hydrogen?,how is valency of phosphorus determined?,0,46,40,8,6,...,0.333322,0.666644,0.399992,0.499992,0.374995,1,0.0,2,7.0,0.292683
246894,246894,344397,360022,how can i inspire you?,how can i inspire myself?,0,22,25,5,5,...,0.499975,0.999967,0.999967,0.799984,0.799984,1,0.0,0,5.0,0.782609
79011,79011,134619,1121,what are the must places to visit in kerala (6...,what are the best places to visit in kerala fo...,1,55,65,11,12,...,0.499992,0.999980,0.833319,0.727266,0.666661,1,0.0,1,11.5,0.517857
150179,150179,236419,236420,how do you qualify for gastric bypass surgery?,what are the positive and negative side effect...,0,46,93,8,16,...,0.299997,0.000000,0.000000,0.374995,0.187499,0,0.0,8,12.0,0.340426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3123,3123,6192,6193,how can i watch uncensored footage from nature...,what are the best world war ii documentaries?,0,61,45,9,8,...,0.199996,0.000000,0.000000,0.124998,0.111110,0,0.0,1,8.5,0.326087
297416,297416,39497,264197,how do i add content on quora?,how do i add content under a title at quora?,1,30,44,7,10,...,0.749981,0.749981,0.499992,0.857131,0.599994,1,0.0,3,8.5,0.677419
109285,109285,179382,96975,was alexander the great really so great?,who was alexander the great?,0,40,28,7,5,...,0.499988,0.666644,0.666644,0.799984,0.571420,0,0.0,2,6.0,0.793103
113645,113645,185675,158317,"why do guys often hesitate to ask a woman out,...",if a guy asks a girl out does it mean he likes...,0,79,74,18,17,...,0.099999,0.571420,0.399996,0.294116,0.277776,0,0.0,1,17.5,0.173333
86068,86068,145192,145193,why is not onetaste a nonprofit organization?,i am a minor in maryland. how do i start a non...,0,45,88,7,18,...,0.249997,0.499988,0.249997,0.571420,0.222221,0,0.0,11,12.5,0.565217

# Fuzzybyzzy Features

In [141]:
pip install fuzzywuzzy[speedup]

Requirement already satisfied: fuzzywuzzy[speedup] in e:\new folder\lib\site-packages (0.18.0)
Requirement already satisfied: python-levenshtein>=0.12 in e:\new folder\lib\site-packages (from fuzzywuzzy[speedup]) (0.25.0)
Requirement already satisfied: Levenshtein==0.25.0 in e:\new folder\lib\site-packages (from python-levenshtein>=0.12->fuzzywuzzy[speedup]) (0.25.0)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.1.0 in e:\new folder\lib\site-packages (from Levenshtein==0.25.0->python-levenshtein>=0.12->fuzzywuzzy[speedup]) (3.6.2)
Note: you may need to restart the kernel to use updated packages.

In [142]:
from fuzzywuzzy import fuzz

def fetch_fuzzy_features(row):
    
    q1 = row['question1']
    q2 = row['question2']
    
    fuzzy_features = [0.0]*4
    
    # fuzz_ratio
    fuzzy_features[0] = fuzz.QRatio(q1, q2)

    # fuzz_partial_ratio
    fuzzy_features[1] = fuzz.partial_ratio(q1, q2)

    # token_sort_ratio
    fuzzy_features[2] = fuzz.token_sort_ratio(q1, q2)

    # token_set_ratio
    fuzzy_features[3] = fuzz.token_set_ratio(q1, q2)

    return fuzzy_features

In [143]:
fuzzy_features = df.apply(fetch_fuzzy_features, axis=1)


df['fuzz_ratio'] = list(map(lambda x: x[0], fuzzy_features))
df['fuzz_partial_ratio'] = list(map(lambda x: x[1], fuzzy_features))
df['token_sort_ratio'] = list(map(lambda x: x[2], fuzzy_features))
df['token_set_ratio'] = list(map(lambda x: x[3], fuzzy_features))

In [144]:
df

,id,qid1,qid2,question1,question2,is_duplicate,q1_lengrth,q2_lengrth,q1_num_words,q2_num_words,...,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio
198127,198127,570,140055,where can i buy best quality customized cupcak...,"where can i buy delicious, fresh & hand made c...",1,63,77,11,15,...,0.399997,1,0.0,4,13.0,0.250000,65,60,61,65
338078,338078,361056,465606,how can you determine the valency of hydrogen?,how is valency of phosphorus determined?,0,46,40,8,6,...,0.374995,1,0.0,2,7.0,0.292683,50,51,64,71
246894,246894,344397,360022,how can i inspire you?,how can i inspire myself?,0,22,25,5,5,...,0.799984,1,0.0,0,5.0,0.782609,84,86,84,89
79011,79011,134619,1121,what are the must places to visit in kerala (6...,what are the best places to visit in kerala fo...,1,55,65,11,12,...,0.666661,1,0.0,1,11.5,0.517857,79,78,69,84
150179,150179,236419,236420,how do you qualify for gastric bypass surgery?,what are the positive and negative side effect...,0,46,93,8,16,...,0.187499,0,0.0,8,12.0,0.340426,48,63,47,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3123,3123,6192,6193,how can i watch uncensored footage from nature...,what are the best world war ii documentaries?,0,61,45,9,8,...,0.111110,0,0.0,1,8.5,0.326087,58,56,54,54
297416,297416,39497,264197,how do i add content on quora?,how do i add content under a title at quora?,1,30,44,7,10,...,0.599994,1,0.0,3,8.5,0.677419,78,80,72,95
109285,109285,179382,96975,was alexander the great really so great?,who was alexander the great?,0,40,28,7,5,...,0.571420,0,0.0,2,6.0,0.793103,70,82,70,92
113645,113645,185675,158317,"why do guys often hesitate to ask a woman out,...",if a guy asks a girl out does it mean he likes...,0,79,74,18,17,...,0.277776,0,0.0,1,17.5,0.173333,48,49,55,62
86068,86068,145192,145193,why is not onetaste a nonprofit organization?,i am a minor in maryland. how do i start a non...,0,45,88,7,18,...,0.222221,0,0.0,11,12.5,0.565217,53,73,43,76

# creating the final dataset to train the model

In [145]:
ques_df = df[['question1','question2']]

In [146]:
df = df.drop(columns=['id','qid1','qid2','question1','question2'])

In [147]:
df

,is_duplicate,q1_lengrth,q2_lengrth,q1_num_words,q2_num_words,common_word,total_word,share_word,cwc_min,cwc_max,...,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio
198127,1,63,77,11,15,11,22,0.5,0.428565,0.272725,...,0.399997,1,0.0,4,13.0,0.250000,65,60,61,65
338078,0,46,40,8,6,8,16,0.5,0.333322,0.333322,...,0.374995,1,0.0,2,7.0,0.292683,50,51,64,71
246894,0,22,25,5,5,5,10,0.5,0.499975,0.499975,...,0.799984,1,0.0,0,5.0,0.782609,84,86,84,89
79011,1,55,65,11,12,11,22,0.5,0.499992,0.499992,...,0.666661,1,0.0,1,11.5,0.517857,79,78,69,84
150179,0,46,93,8,16,8,16,0.5,0.749981,0.299997,...,0.187499,0,0.0,8,12.0,0.340426,48,63,47,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3123,0,61,45,9,8,9,18,0.5,0.199996,0.199996,...,0.111110,0,0.0,1,8.5,0.326087,58,56,54,54
297416,1,30,44,7,10,7,14,0.5,0.999967,0.749981,...,0.599994,1,0.0,3,8.5,0.677419,78,80,72,95
109285,0,40,28,7,5,7,14,0.5,0.999950,0.499988,...,0.571420,0,0.0,2,6.0,0.793103,70,82,70,92
113645,0,79,74,18,17,17,34,0.5,0.166664,0.099999,...,0.277776,0,0.0,1,17.5,0.173333,48,49,55,62
86068,0,45,88,7,18,7,14,0.5,0.666644,0.249997,...,0.222221,0,0.0,11,12.5,0.565217,53,73,43,76

In [148]:
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [149]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
198127,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
338078,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246894,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150179,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
297416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
109285,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113645,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86068,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [150]:
final_df = pd.concat([df,temp_df],axis=1)

In [151]:
final_df

,is_duplicate,q1_lengrth,q2_lengrth,q1_num_words,q2_num_words,common_word,total_word,share_word,cwc_min,cwc_max,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
198127,1,63,77,11,15,11,22,0.5,0.428565,0.272725,...,0,0,0,0,0,0,0,0,0,0
338078,0,46,40,8,6,8,16,0.5,0.333322,0.333322,...,0,0,0,0,0,0,0,0,0,0
246894,0,22,25,5,5,5,10,0.5,0.499975,0.499975,...,0,0,0,0,0,0,0,0,0,0
79011,1,55,65,11,12,11,22,0.5,0.499992,0.499992,...,0,0,0,0,0,0,0,0,0,0
150179,0,46,93,8,16,8,16,0.5,0.749981,0.299997,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3123,0,61,45,9,8,9,18,0.5,0.199996,0.199996,...,0,0,0,0,0,0,0,0,0,0
297416,1,30,44,7,10,7,14,0.5,0.999967,0.749981,...,0,0,0,0,0,0,0,0,0,0
109285,0,40,28,7,5,7,14,0.5,0.999950,0.499988,...,0,0,0,0,0,0,0,0,0,0
113645,0,79,74,18,17,17,34,0.5,0.166664,0.099999,...,0,0,0,0,0,0,0,0,0,0
86068,0,45,88,7,18,7,14,0.5,0.666644,0.249997,...,0,0,0,0,0,0,0,0,0,0

# Training the Model

In [152]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(final_df.iloc[:,1:].values,final_df.iloc[:,0].values,test_size=0.2,random_state=2)

In [153]:
print(X_train.shape,"---",X_test.shape)
print(Y_train.shape,"---",Y_test.shape)

(5600, 6022) --- (1400, 6022)
(5600,) --- (1400,)

In [154]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,Y_train)
Y_pred = rf.predict(X_test)
accuracy_score(Y_test,Y_pred)

0.7557142857142857

In [155]:
import pickle

pickle.dump(rf,open('model.pkl','wb'))
pickle.dump(cv,open('cv.pkl','wb'))

In [156]:
stop_words = set(stopwords.words('english'))
pickle.dump(stop_words,open('stopwords.pkl','wb'))

# creating the querey point selector

In [157]:
pip install bz2file

Requirement already satisfied: bz2file in e:\new folder\lib\site-packages (0.98)
Note: you may need to restart the kernel to use updated packages.